// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

// Variabili
@import "./variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

// body{
//     background-color: #000;
// }

h1{
    color: $bianco;
    text-transform: uppercase;
    font-size: 60px;
}

.btn{
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}