// Colori Principali

$bianco: #fff;

$giallo: #fed23f;

$nero: #1e1e1e;

// Scritte

$scritta-nero: #31312f;

$scritta-grigio: #6b6868;

// Sfondo

$sfondo-grigio: #bcbcbc;

$sfondo-services: #4ea4a5;

$sfondo-standards: #4e6da5;

$sfondo-team: #f6722a;

$sfondo-solutions: #a7cf47;